*, body {
	padding: 0;
	margin: 0;
}

body {
	background-image: url(../assets/regal.png);
}

.main {
	margin-top: 200px;
}

button {
	display: block !important;
	margin: 10px !important;
	width: 50% !important;
	height: 80px !important;
	font-weight: bold !important;
}